.container {
  /* max-width: min(48rem, 90%);
  margin-left: auto;
  margin-right: auto; */

  height: 100%;

  /* padding-top: 1rem; */

  display: grid;
  grid-template-columns: auto 7fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav header"
    "nav main"
    "nav footer";
}

.container > header {
  grid-area: header;
  border: 1px solid blue;
}

.container > main {
  grid-area: main;
  border: 1px solid red;
  overflow-y: scroll;
}

.container > footer {
  grid-area: footer;
}

.container > nav {
  grid-area: nav;
}